<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catalog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SalesChartView"
            android:exported="false" />

        <receiver
            android:name=".NewsWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_widget_details" />
        </receiver>

        <activity
            android:name=".NewsReader"
            android:exported="false"
            android:label="My Feeds">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="com.example.NewsReader" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- label displays the title of the Activity -->
        <activity
            android:name=".NotesTextActivity"
            android:exported="false"
            android:label="Private Notes" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings" />
        <activity
            android:name=".NotesLocationActivity"
            android:exported="false"
            android:label="Location Notes" />
        <activity
            android:name=".NotesImageActivity"
            android:exported="false"
            android:label="Image Notes"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="com.example.NotesImageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CatalogDetailActivity"
            android:exported="false"
            android:label="My Feeds"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.catalog.MainActivity" />

            <intent-filter>
                <action android:name="com.example.CatalogDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>